.d-inline-block {
  border-radius: 50%;
}

.d-inline-block:hover {
  border-radius: 50%;
  opacity: 50%;
}

.navbar.navbar-expand-sm {
  border-bottom: 0.25px solid black;
}

.dropdown-desktop.dropdown-item {
  font-family: "Questrial", sans-serif;
}

.dropdown-desktop.dropdown-item:hover {
    list-style-type: none;
    text-decoration-color: transparent;
    color: #315c2b;
    transform: scale(1.125);
    font-family: "Questrial", sans-serif;
    background-color: white;
  }

.dropdown-desktop.dropdown-item:focus {
    list-style-type: none;
    text-decoration-color: transparent;
    color: #315c2b;
    transform: scale(1.125);
    font-family: "Questrial", sans-serif;
    background-color: white;
  }

@media only screen and (min-width: 576px) {
  .dropdown-desktop.dropdown-item {
    font-family: "Questrial", sans-serif;
    margin-bottom: -55px;
    font-size: 25px;
    background-color: white;
  }

  .dropdown-desktop.dropdown-item:hover {
    list-style-type: none;
    text-decoration-color: transparent;
    color: #315c2b;
    transform: scale(1.125);
    font-family: "Questrial", sans-serif;
    background-color: white;
  }

  .dropdown-desktop.dropdown-item:focus {
    list-style-type: none;
    text-decoration-color: transparent;
    color: #315c2b;
    transform: scale(1.125);
    font-family: "Questrial", sans-serif;
    background-color: white;
  }

}
