.d-inline-block {
    border-radius: 50%;
}

.d-inline-block:hover {
    border-radius: 50%;
    opacity: 50%;
}   

.navbar.navbar-expand-sm {
    border-bottom: 0.25px solid black;
}

/* .dropdown-item {
    font-family: 'Questrial', sans-serif;
    font-size: 25px; 
    margin-bottom: -55px; 
} */

/* .dropdown-item:hover {
    list-style-type: none;
    background-color: none;
    text-decoration-color: transparent;
	color: #315C2B;
    font-family: 'Questrial', sans-serif;
} */